{
    "ServiceSettings": {
        "SiteURL": "{{var "SERVICE_SITE_URL" | default "http://localhost:80"}}",
        "LicenseFileLocation": "{{var "SERVICE_LICENSE_FILE_LOCATION" | default ""}}",
        "ListenAddress": "{{var "SERVICE_LISTEN_ADDRESS" | default ":80"}}",
        "ConnectionSecurity": "{{var "SERVICE_CONNECTION_SECURITY" | default ""}}",
        "TLSCertFile": "{{var "SERVICE_TLSCERT_FILE" | default ""}}",
        "TLSKeyFile": "{{var "SERVICE_TLSKEY_FILE" | default ""}}",
        "UseLetsEncrypt": {{var "SERVICE_USE_LETS_ENCRYPT" | default "false"}},
        "LetsEncryptCertificateCacheFile": "{{var "SERVICE_LETS_ENCRYPT_CERTIFICATE_CACHE_FILE" | default "./config/letsencrypt.cache"}}",
        "Forward80To443": {{var "SERVICE_FORWARD80_TO443" | default "false"}},
        "ReadTimeout": {{var "SERVICE_READ_TIMEOUT" | default "300"}},
        "WriteTimeout": {{var "SERVICE_WRITE_TIMEOUT" | default "300"}},
        "MaximumLoginAttempts": {{var "SERVICE_MAXIMUM_LOGIN_ATTEMPTS" | default "10"}},
        "GoroutineHealthThreshold": {{var "SERVICE_GOROUTINE_HEALTH_THRESHOLD" | default "-1"}},
        "GoogleDeveloperKey": "{{var "SERVICE_GOOGLE_DEVELOPER_KEY" | default ""}}",
        "EnableOAuthServiceProvider": {{var "SERVICE_ENABLE_OAUTH_SERVICE_PROVIDER" | default "false"}},
        "EnableIncomingWebhooks": {{var "SERVICE_ENABLE_INCOMING_WEBHOOKS" | default "true"}},
        "EnableOutgoingWebhooks": {{var "SERVICE_ENABLE_OUTGOING_WEBHOOKS" | default "true"}},
        "EnableCommands": {{var "SERVICE_ENABLE_COMMANDS" | default "true"}},
        "EnableOnlyAdminIntegrations": {{var "SERVICE_ENABLE_ONLY_ADMIN_INTEGRATIONS" | default "true"}},
        "EnablePostUsernameOverride": {{var "SERVICE_ENABLE_POST_USERNAME_OVERRIDE" | default "false"}},
        "EnablePostIconOverride": {{var "SERVICE_ENABLE_POST_ICON_OVERRIDE" | default "false"}},
        "EnableAPIv3": {{var "SERVICE_ENABLE_APIV3" | default "true"}},
        "EnableLinkPreviews": {{var "SERVICE_ENABLE_LINK_PREVIEWS" | default "false"}},
        "EnableTesting": {{var "SERVICE_ENABLE_TESTING" | default "false"}},
        "EnableDeveloper": {{var "SERVICE_ENABLE_DEVELOPER" | default "false"}},
        "EnableSecurityFixAlert": {{var "SERVICE_ENABLE_SECURITY_FIX_ALERT" | default "true"}},
        "EnableInsecureOutgoingConnections": {{var "SERVICE_ENABLE_INSECURE_OUTGOING_CONNECTIONS" | default "false"}},
        "AllowedUntrustedInternalConnections": "{{var "SERVICE_ALLOWED_UNTRUSTED_INTERNAL_CONNECTIONS" | default ""}}",
        "EnableMultifactorAuthentication": {{var "SERVICE_ENABLE_MULTIFACTOR_AUTHENTICATION" | default "false"}},
        "EnforceMultifactorAuthentication": {{var "SERVICE_ENFORCE_MULTIFACTOR_AUTHENTICATION" | default "false"}},
        "EnableUserAccessTokens": {{var "SERVICE_ENABLE_USER_ACCESS_TOKENS" | default "false"}},
        "AllowCorsFrom": "{{var "SERVICE_ALLOW_CORS_FROM" | default ""}}",
        "SessionLengthWebInDays": {{var "SERVICE_SESSION_LENGTH_WEB_IN_DAYS" | default "30"}},
        "SessionLengthMobileInDays": {{var "SERVICE_SESSION_LENGTH_MOBILE_IN_DAYS" | default "30"}},
        "SessionLengthSSOInDays": {{var "SERVICE_SESSION_LENGTH_SSOIN_DAYS" | default "30"}},
        "SessionCacheInMinutes": {{var "SERVICE_SESSION_CACHE_IN_MINUTES" | default "10"}},
        "SessionIdleTimeoutInMinutes": {{var "SERVICE_SESSION_IDLE_TIMEOUT_IN_MINUTES" | default "0"}},
        "WebsocketSecurePort": {{var "SERVICE_WEBSOCKET_SECURE_PORT" | default "443"}},
        "WebsocketPort": {{var "SERVICE_WEBSOCKET_PORT" | default "80"}},
        "WebserverMode": "{{var "SERVICE_WEBSERVER_MODE" | default "gzip"}}",
        "EnableCustomEmoji": {{var "SERVICE_ENABLE_CUSTOM_EMOJI" | default "false"}},
        "EnableEmojiPicker": {{var "SERVICE_ENABLE_EMOJI_PICKER" | default "true"}},
        "RestrictCustomEmojiCreation": "{{var "SERVICE_RESTRICT_CUSTOM_EMOJI_CREATION" | default "all"}}",
        "RestrictPostDelete": "{{var "SERVICE_RESTRICT_POST_DELETE" | default "all"}}",
        "AllowEditPost": "{{var "SERVICE_ALLOW_EDIT_POST" | default "always"}}",
        "PostEditTimeLimit": {{var "SERVICE_POST_EDIT_TIME_LIMIT" | default "300"}},
        "ExperimentalEnableAuthenticationTransfer": {{var "SERVICE_EXPERIMENTAL_ENABLE_AUTHENTICATION_TRANSFER" | default "true"}},
        "TimeBetweenUserTypingUpdatesMilliseconds": {{var "SERVICE_TIME_BETWEEN_USER_TYPING_UPDATES_MILLISECONDS" | default "5000"}},
        "EnablePostSearch": {{var "SERVICE_ENABLE_POST_SEARCH" | default "true"}},
        "EnableUserTypingMessages": {{var "SERVICE_ENABLE_USER_TYPING_MESSAGES" | default "true"}},
        "EnableChannelViewedMessages": {{var "SERVICE_ENABLE_CHANNEL_VIEWED_MESSAGES" | default "true"}},
        "EnableUserStatuses": {{var "SERVICE_ENABLE_USER_STATUSES" | default "true"}},
        "ClusterLogTimeoutMilliseconds": {{var "SERVICE_CLUSTER_LOG_TIMEOUT_MILLISECONDS" | default "2000"}},
        "EnablePreviewFeatures": {{var "SERVICE_ENABLE_PREVIEW_FEATURES" | default "true"}},
        "CloseUnusedDirectMessages": {{var "SERVICE_CLOSE_UNUSED_DIRECT_MESSAGES" | default "false"}},
        "EnableTutorial": {{var "SERVICE_ENABLE_TUTORIAL" | default "true"}}
    },
    "TeamSettings": {
        "SiteName": "{{var "TEAM_SITE_NAME" | default "Mattermost"}}",
        "MaxUsersPerTeam": {{var "TEAM_MAX_USERS_PER_TEAM" | default "50"}},
        "EnableTeamCreation": {{var "TEAM_ENABLE_TEAM_CREATION" | default "true"}},
        "EnableUserCreation": {{var "TEAM_ENABLE_USER_CREATION" | default "true"}},
        "EnableOpenServer": {{var "TEAM_ENABLE_OPEN_SERVER" | default "false"}},
        "RestrictCreationToDomains": "{{var "TEAM_RESTRICT_CREATION_TO_DOMAINS" | default ""}}",
        "EnableCustomBrand": {{var "TEAM_ENABLE_CUSTOM_BRAND" | default "false"}},
        "CustomBrandText": "{{var "TEAM_CUSTOM_BRAND_TEXT" | default ""}}",
        "CustomDescriptionText": "{{var "TEAM_CUSTOM_DESCRIPTION_TEXT" | default ""}}",
        "RestrictDirectMessage": "{{var "TEAM_RESTRICT_DIRECT_MESSAGE" | default "any"}}",
        "RestrictTeamInvite": "{{var "TEAM_RESTRICT_TEAM_INVITE" | default "all"}}",
        "RestrictPublicChannelManagement": "{{var "TEAM_RESTRICT_PUBLIC_CHANNEL_MANAGEMENT" | default "all"}}",
        "RestrictPrivateChannelManagement": "{{var "TEAM_RESTRICT_PRIVATE_CHANNEL_MANAGEMENT" | default "all"}}",
        "RestrictPublicChannelCreation": "{{var "TEAM_RESTRICT_PUBLIC_CHANNEL_CREATION" | default "all"}}",
        "RestrictPrivateChannelCreation": "{{var "TEAM_RESTRICT_PRIVATE_CHANNEL_CREATION" | default "all"}}",
        "RestrictPublicChannelDeletion": "{{var "TEAM_RESTRICT_PUBLIC_CHANNEL_DELETION" | default "all"}}",
        "RestrictPrivateChannelDeletion": "{{var "TEAM_RESTRICT_PRIVATE_CHANNEL_DELETION" | default "all"}}",
        "RestrictPrivateChannelManageMembers": "{{var "TEAM_RESTRICT_PRIVATE_CHANNEL_MANAGE_MEMBERS" | default "all"}}",
        "EnableXToLeaveChannelsFromLHS": {{var "TEAM_ENABLE_XTO_LEAVE_CHANNELS_FROM_LHS" | default "false"}},
        "UserStatusAwayTimeout": {{var "TEAM_USER_STATUS_AWAY_TIMEOUT" | default "300"}},
        "MaxChannelsPerTeam": {{var "TEAM_MAX_CHANNELS_PER_TEAM" | default "2000"}},
        "MaxNotificationsPerChannel": {{var "TEAM_MAX_NOTIFICATIONS_PER_CHANNEL" | default "1000"}},
        "EnableConfirmNotificationsToChannel": {{var "TEAM_ENABLE_CONFIRM_NOTIFICATIONS_TO_CHANNEL" | default "true"}},
        "TeammateNameDisplay": "{{var "TEAM_TEAMMATE_NAME_DISPLAY" | default "username"}}",
        "ExperimentalTownSquareIsReadOnly": {{var "TEAM_EXPERIMENTAL_TOWN_SQUARE_IS_READ_ONLY" | default "false"}},
        "ExperimentalPrimaryTeam": "{{var "TEAM_EXPERIMENTAL_PRIMARY_TEAM" | default ""}}"
    },
    "ClientRequirements": {
        "AndroidLatestVersion": "{{var "TEAM_ANDROID_LATEST_VERSION" | default ""}}",
        "AndroidMinVersion": "{{var "TEAM_ANDROID_MIN_VERSION" | default ""}}",
        "DesktopLatestVersion": "{{var "TEAM_DESKTOP_LATEST_VERSION" | default ""}}",
        "DesktopMinVersion": "{{var "TEAM_DESKTOP_MIN_VERSION" | default ""}}",
        "IosLatestVersion": "{{var "TEAM_IOS_LATEST_VERSION" | default ""}}",
        "IosMinVersion": "{{var "TEAM_IOS_MIN_VERSION" | default ""}}"
    },
    "SqlSettings": {
        "DriverName": "{{var "SQL_DRIVER_NAME" | default "mysql"}}",
        "DataSource": "{{var "SQL_DATA_SOURCE" | default "mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s"}}",
        "DataSourceReplicas": {{var "SQL_DATA_SOURCE_REPLICAS" | default "[]"}},
        "DataSourceSearchReplicas": {{var "SQL_DATA_SOURCE_SEARCH_REPLICAS" | default "[]"}},
        "MaxIdleConns": {{var "SQL_MAX_IDLE_CONNS" | default "20"}},
        "MaxOpenConns": {{var "SQL_MAX_OPEN_CONNS" | default "300"}},
        "Trace": {{var "SQL_TRACE" | default "false"}},
        "AtRestEncryptKey": "{{var "SQL_AT_REST_ENCRYPT_KEY" | default ""}}",
        "QueryTimeout": {{var "SQL_QUERY_TIMEOUT" | default "30"}}
    },
    "LogSettings": {
        "EnableConsole": {{var "LOG_ENABLE_CONSOLE" | default "true"}},
        "ConsoleLevel": "{{var "LOG_CONSOLE_LEVEL" | default "INFO"}}",
        "EnableFile": {{var "LOG_ENABLE_FILE" | default "true"}},
        "FileLevel": "{{var "LOG_FILE_LEVEL" | default "INFO"}}",
        "FileFormat": "{{var "LOG_FILE_FORMAT" | default ""}}",
        "FileLocation": "{{var "LOG_FILE_LOCATION" | default ""}}",
        "EnableWebhookDebugging": {{var "LOG_ENABLE_WEBHOOK_DEBUGGING" | default "true"}},
        "EnableDiagnostics": {{var "LOG_ENABLE_DIAGNOSTICS" | default "true"}}
    },
    "PasswordSettings": {
        "MinimumLength": {{var "PASSWORD_MINIMUM_LENGTH" | default "5"}},
        "Lowercase": {{var "PASSWORD_LOWERCASE" | default "false"}},
        "Number": {{var "PASSWORD_NUMBER" | default "false"}},
        "Uppercase": {{var "PASSWORD_UPPERCASE" | default "false"}},
        "Symbol": {{var "PASSWORD_SYMBOL" | default "false"}}
    },
    "FileSettings": {
        "EnableFileAttachments": {{var "FILE_ENABLE_FILE_ATTACHMENTS" | default "true"}},
        "EnableMobileUpload": {{var "FILE_ENABLE_MOBILE_UPLOAD" | default "true"}},
        "EnableMobileDownload": {{var "FILE_ENABLE_MOBILE_DOWNLOAD" | default "true"}},
        "MaxFileSize": {{var "FILE_MAX_FILE_SIZE" | default "52428800"}},
        "DriverName": "{{var "FILE_DRIVER_NAME" | default "local"}}",
        "Directory": "{{var "FILE_DIRECTORY" | default "./data/"}}",
        "EnablePublicLink": {{var "FILE_ENABLE_PUBLIC_LINK" | default "false"}},
        "PublicLinkSalt": "{{var "FILE_PUBLIC_LINK_SALT" | default ""}}",
        "InitialFont": "{{var "FILE_INITIAL_FONT" | default "luximbi.ttf"}}",
        "AmazonS3AccessKeyId": "{{var "FILE_AMAZON_S3_ACCESS_KEY_ID" | default ""}}",
        "AmazonS3SecretAccessKey": "{{var "FILE_AMAZON_S3_SECRET_ACCESS_KEY" | default ""}}",
        "AmazonS3Bucket": "{{var "FILE_AMAZON_S3_BUCKET" | default ""}}",
        "AmazonS3Region": "{{var "FILE_AMAZON_S3_REGION" | default ""}}",
        "AmazonS3Endpoint": "{{var "FILE_AMAZON_S3_ENDPOINT" | default "s3.amazonaws.com"}}",
        "AmazonS3SSL": {{var "FILE_AMAZON_S3_SSL" | default "true"}},
        "AmazonS3SignV2": {{var "FILE_AMAZON_S3_SIGN_V2" | default "false"}},
        "AmazonS3SSE": {{var "FILE_AMAZON_S3_SSE" | default "false"}},
        "AmazonS3Trace": {{var "FILE_AMAZON_S3_TRACE" | default "false"}}
    },
    "EmailSettings": {
        "EnableSignUpWithEmail": {{var "EMAIL_ENABLE_SIGN_UP_WITH_EMAIL" | default "true"}},
        "EnableSignInWithEmail": {{var "EMAIL_ENABLE_SIGN_IN_WITH_EMAIL" | default "true"}},
        "EnableSignInWithUsername": {{var "EMAIL_ENABLE_SIGN_IN_WITH_USERNAME" | default "true"}},
        "SendEmailNotifications": {{var "EMAIL_SEND_EMAIL_NOTIFICATIONS" | default "true"}},
        "UseChannelInEmailNotifications": {{var "EMAIL_USE_CHANNEL_IN_EMAIL_NOTIFICATIONS" | default "false"}},
        "RequireEmailVerification": {{var "EMAIL_REQUIRE_EMAIL_VERIFICATION" | default "false"}},
        "FeedbackName": "{{var "EMAIL_FEEDBACK_NAME" | default ""}}",
        "FeedbackEmail": "{{var "EMAIL_FEEDBACK_EMAIL" | default "test@example.com"}}",
        "FeedbackOrganization": "{{var "EMAIL_FEEDBACK_ORGANIZATION" | default ""}}",
        "EnableSMTPAuth": {{var "EMAIL_ENABLE_SMTP_AUTH" | default "false"}},
        "SMTPUsername": "{{var "EMAIL_SMTP_USERNAME" | default ""}}",
        "SMTPPassword": "{{var "EMAIL_SMTP_PASSWORD" | default ""}}",
        "SMTPServer": "{{var "EMAIL_SMTP_SERVER" | default "dockerhost"}}",
        "SMTPPort": "{{var "EMAIL_SMTP_PORT" | default "2500"}}",
        "ConnectionSecurity": "{{var "EMAIL_CONNECTION_SECURITY" | default ""}}",
        "InviteSalt": "{{var "EMAIL_INVITE_SALT" | default ""}}",
        "SendPushNotifications": {{var "EMAIL_SEND_PUSH_NOTIFICATIONS" | default "false"}},
        "PushNotificationServer": "{{var "EMAIL_PUSH_NOTIFICATION_SERVER" | default ""}}",
        "PushNotificationContents": "{{var "EMAIL_PUSH_NOTIFICATION_CONTENTS" | default "generic"}}",
        "EnableEmailBatching": {{var "EMAIL_ENABLE_EMAIL_BATCHING" | default "false"}},
        "EmailBatchingBufferSize": {{var "EMAIL_EMAIL_BATCHING_BUFFER_SIZE" | default "256"}},
        "EmailBatchingInterval": {{var "EMAIL_EMAIL_BATCHING_INTERVAL" | default "30"}},
        "SkipServerCertificateVerification": {{var "EMAIL_SKIP_SERVER_CERTIFICATE_VERIFICATION" | default "false"}},
        "EmailNotificationContentsType": "{{var "EMAIL_EMAIL_NOTIFICATION_CONTENTS_TYPE" | default "full"}}",
        "LoginButtonColor": "{{var "EMAIL_LOGIN_BUTTON_COLOR" | default ""}}",
        "LoginButtonBorderColor": "{{var "EMAIL_LOGIN_BUTTON_BORDER_COLOR" | default ""}}",
        "LoginButtonTextColor": "{{var "EMAIL_LOGIN_BUTTON_TEXT_COLOR" | default ""}}"
    },
    "RateLimitSettings": {
        "Enable": {{var "RATELIMIT_ENABLE" | default "false"}},
        "PerSec": {{var "RATELIMIT_PER_SEC" | default "10"}},
        "MaxBurst": {{var "RATELIMIT_MAX_BURST" | default "100"}},
        "MemoryStoreSize": {{var "RATELIMIT_MEMORY_STORE_SIZE" | default "10000"}},
        "VaryByRemoteAddr": {{var "RATELIMIT_VARY_BY_REMOTE_ADDR" | default "true"}},
        "VaryByHeader": "{{var "RATELIMIT_VARY_BY_HEADER" | default ""}}"
    },
    "PrivacySettings": {
        "ShowEmailAddress": {{var "PRIVACY_SHOW_EMAIL_ADDRESS" | default "true"}},
        "ShowFullName": {{var "PRIVACY_SHOW_FULL_NAME" | default "true"}}
    },
    "SupportSettings": {
        "TermsOfServiceLink": "{{var "SUPPORT_TERMS_OF_SERVICE_LINK" | default "https://about.mattermost.com/default-terms/"}}",
        "PrivacyPolicyLink": "{{var "SUPPORT_PRIVACY_POLICY_LINK" | default "https://about.mattermost.com/default-privacy-policy/"}}",
        "AboutLink": "{{var "SUPPORT_ABOUT_LINK" | default "https://about.mattermost.com/default-about/"}}",
        "HelpLink": "{{var "SUPPORT_HELP_LINK" | default "https://about.mattermost.com/default-help/"}}",
        "ReportAProblemLink": "{{var "SUPPORT_REPORT_APROBLEM_LINK" | default "https://about.mattermost.com/default-report-a-problem/"}}",
        "SupportEmail": "{{var "SUPPORT_SUPPORT_EMAIL" | default "feedback@mattermost.com"}}"
    },
    "AnnouncementSettings": {
        "EnableBanner": {{var "ANNOUNCEMENT_ENABLE_BANNER" | default "false"}},
        "BannerText": "{{var "ANNOUNCEMENT_BANNER_TEXT" | default ""}}",
        "BannerColor": "{{var "ANNOUNCEMENT_BANNER_COLOR" | default "#f2a93b"}}",
        "BannerTextColor": "{{var "ANNOUNCEMENT_BANNER_TEXT_COLOR" | default "#333333"}}",
        "AllowBannerDismissal": {{var "ANNOUNCEMENT_ALLOW_BANNER_DISMISSAL" | default "true"}}
    },
    "ThemeSettings": {
        "EnableThemeSelection": {{var "THEME_ENABLE_THEME_SELECTION" | default "true"}},
        "DefaultTheme": "{{var "THEME_DEFAULT_THEME" | default "default"}}",
        "AllowCustomThemes": {{var "THEME_ALLOW_CUSTOM_THEMES" | default "true"}},
        "AllowedThemes": {{var "THEME_ALLOWED_THEMES" | default "[]"}}
    },
    "GitLabSettings": {
        "Enable": {{var "GITLAB_ENABLE" | default "false"}},
        "Secret": "{{var "GITLAB_SECRET" | default ""}}",
        "Id": "{{var "GITLAB_ID" | default ""}}",
        "Scope": "{{var "GITLAB_SCOPE" | default ""}}",
        "AuthEndpoint": "{{var "GITLAB_AUTH_ENDPOINT" | default ""}}",
        "TokenEndpoint": "{{var "GITLAB_TOKEN_ENDPOINT" | default ""}}",
        "UserApiEndpoint": "{{var "GITLAB_USER_API_ENDPOINT" | default ""}}"
    },
    "GoogleSettings": {
        "Enable": {{var "GOOGLE_ENABLE" | default "false"}},
        "Secret": "{{var "GOOGLE_SECRET" | default ""}}",
        "Id": "{{var "GOOGLE_ID" | default ""}}",
        "Scope": "{{var "GOOGLE_SCOPE" | default "profile email"}}",
        "AuthEndpoint": "{{var "GOOGLE_AUTH_ENDPOINT" | default "https://accounts.google.com/o/oauth2/v2/auth"}}",
        "TokenEndpoint": "{{var "GOOGLE_TOKEN_ENDPOINT" | default "https://www.googleapis.com/oauth2/v4/token"}}",
        "UserApiEndpoint": "{{var "GOOGLE_USER_API_ENDPOINT" | default "https://www.googleapis.com/plus/v1/people/me"}}"
    },
    "Office365Settings": {
        "Enable": {{var "OFFICE365_ENABLE" | default "false"}},
        "Secret": "{{var "OFFICE365_SECRET" | default ""}}",
        "Id": "{{var "OFFICE365_ID" | default ""}}",
        "Scope": "{{var "OFFICE365_SCOPE" | default "User.Read"}}",
        "AuthEndpoint": "{{var "OFFICE365_AUTH_ENDPOINT" | default "https://login.microsoftonline.com/common/oauth2/v2.0/authorize"}}",
        "TokenEndpoint": "{{var "OFFICE365_TOKEN_ENDPOINT" | default "https://login.microsoftonline.com/common/oauth2/v2.0/token"}}",
        "UserApiEndpoint": "{{var "OFFICE365_USER_API_ENDPOINT" | default "https://graph.microsoft.com/v1.0/me"}}"
    },
    "LdapSettings": {
        "Enable": {{var "LDAP_ENABLE" | default "false"}},
        "EnableSync": {{var "LDAP_ENABLE_SYNC" | default "false"}},
        "LdapServer": "{{var "LDAP_LDAP_SERVER" | default ""}}",
        "LdapPort": {{var "LDAP_LDAP_PORT" | default "389"}},
        "ConnectionSecurity": "{{var "LDAP_CONNECTION_SECURITY" | default ""}}",
        "BaseDN": "{{var "LDAP_BASE_DN" | default ""}}",
        "BindUsername": "{{var "LDAP_BIND_USERNAME" | default ""}}",
        "BindPassword": "{{var "LDAP_BIND_PASSWORD" | default ""}}",
        "UserFilter": "{{var "LDAP_USER_FILTER" | default ""}}",
        "FirstNameAttribute": "{{var "LDAP_FIRST_NAME_ATTRIBUTE" | default ""}}",
        "LastNameAttribute": "{{var "LDAP_LAST_NAME_ATTRIBUTE" | default ""}}",
        "EmailAttribute": "{{var "LDAP_EMAIL_ATTRIBUTE" | default ""}}",
        "UsernameAttribute": "{{var "LDAP_USERNAME_ATTRIBUTE" | default ""}}",
        "NicknameAttribute": "{{var "LDAP_NICKNAME_ATTRIBUTE" | default ""}}",
        "IdAttribute": "{{var "LDAP_ID_ATTRIBUTE" | default ""}}",
        "PositionAttribute": "{{var "LDAP_POSITION_ATTRIBUTE" | default ""}}",
        "SyncIntervalMinutes": {{var "LDAP_SYNC_INTERVAL_MINUTES" | default "60"}},
        "SkipCertificateVerification": {{var "LDAP_SKIP_CERTIFICATE_VERIFICATION" | default "false"}},
        "QueryTimeout": {{var "LDAP_QUERY_TIMEOUT" | default "60"}},
        "MaxPageSize": {{var "LDAP_MAX_PAGE_SIZE" | default "0"}},
        "LoginFieldName": "{{var "LDAP_LOGIN_FIELD_NAME" | default ""}}",
        "LoginButtonColor": "{{var "LDAP_LOGIN_BUTTON_COLOR" | default ""}}",
        "LoginButtonBorderColor": "{{var "LDAP_LOGIN_BUTTON_BORDER_COLOR" | default ""}}",
        "LoginButtonTextColor": "{{var "LDAP_LOGIN_BUTTON_TEXT_COLOR" | default ""}}"
    },
    "ComplianceSettings": {
        "Enable": {{var "COMPLIANCE_ENABLE" | default "false"}},
        "Directory": "{{var "COMPLIANCE_DIRECTORY" | default "./data/"}}",
        "EnableDaily": {{var "COMPLIANCE_ENABLE_DAILY" | default "false"}}
    },
    "LocalizationSettings": {
        "DefaultServerLocale": "{{var "LOCALIZATION_DEFAULT_SERVER_LOCALE" | default "en"}}",
        "DefaultClientLocale": "{{var "LOCALIZATION_DEFAULT_CLIENT_LOCALE" | default "en"}}",
        "AvailableLocales": "{{var "LOCALIZATION_AVAILABLE_LOCALES" | default ""}}"
    },
    "SamlSettings": {
        "Enable": {{var "SAML_ENABLE" | default "false"}},
        "EnableSyncWithLdap": {{var "SAML_ENABLE_SYNC_WITH_LDAP" | default "false"}},
        "Verify": {{var "SAML_VERIFY" | default "true"}},
        "Encrypt": {{var "SAML_ENCRYPT" | default "true"}},
        "IdpUrl": "{{var "SAML_IDP_URL" | default ""}}",
        "IdpDescriptorUrl": "{{var "SAML_IDP_DESCRIPTOR_URL" | default ""}}",
        "AssertionConsumerServiceURL": "{{var "SAML_ASSERTION_CONSUMER_SERVICE_URL" | default ""}}",
        "IdpCertificateFile": "{{var "SAML_IDP_CERTIFICATE_FILE" | default ""}}",
        "PublicCertificateFile": "{{var "SAML_PUBLIC_CERTIFICATE_FILE" | default ""}}",
        "PrivateKeyFile": "{{var "SAML_PRIVATE_KEY_FILE" | default ""}}",
        "FirstNameAttribute": "{{var "SAML_FIRST_NAME_ATTRIBUTE" | default ""}}",
        "LastNameAttribute": "{{var "SAML_LAST_NAME_ATTRIBUTE" | default ""}}",
        "EmailAttribute": "{{var "SAML_EMAIL_ATTRIBUTE" | default ""}}",
        "UsernameAttribute": "{{var "SAML_USERNAME_ATTRIBUTE" | default ""}}",
        "NicknameAttribute": "{{var "SAML_NICKNAME_ATTRIBUTE" | default ""}}",
        "LocaleAttribute": "{{var "SAML_LOCALE_ATTRIBUTE" | default ""}}",
        "PositionAttribute": "{{var "SAML_POSITION_ATTRIBUTE" | default ""}}",
        "LoginButtonText": "{{var "SAML_LOGIN_BUTTON_TEXT" | default "With SAML"}}",
        "LoginButtonColor": "{{var "SAML_LOGIN_BUTTON_COLOR" | default ""}}",
        "LoginButtonBorderColor": "{{var "SAML_LOGIN_BUTTON_BORDER_COLOR" | default ""}}",
        "LoginButtonTextColor": "{{var "SAML_LOGIN_BUTTON_TEXT_COLOR" | default ""}}"
    },
    "NativeAppSettings": {
        "AppDownloadLink": "{{var "NATIVEAPP_APP_DOWNLOAD_LINK" | default "https://about.mattermost.com/downloads/"}}",
        "AndroidAppDownloadLink": "{{var "NATIVEAPP_ANDROID_APP_DOWNLOAD_LINK" | default "https://about.mattermost.com/mattermost-android-app/"}}",
        "IosAppDownloadLink": "{{var "NATIVEAPP_IOS_APP_DOWNLOAD_LINK" | default "https://about.mattermost.com/mattermost-ios-app/"}}"
    },
    "ClusterSettings": {
        "Enable": {{var "CLUSTER_ENABLE" | default "false"}},
        "ClusterName": "{{var "CLUSTER_CLUSTER_NAME" | default ""}}",
        "OverrideHostname": "{{var "CLUSTER_OVERRIDE_HOSTNAME" | default ""}}",
        "UseIpAddress": {{var "CLUSTER_USE_IP_ADDRESS" | default "true"}},
        "UseExperimentalGossip": {{var "CLUSTER_USE_EXPERIMENTAL_GOSSIP" | default "false"}},
        "ReadOnlyConfig": {{var "CLUSTER_READ_ONLY_CONFIG" | default "true"}},
        "GossipPort": {{var "CLUSTER_GOSSIP_PORT" | default "8074"}},
        "StreamingPort": {{var "CLUSTER_STREAMING_PORT" | default "8075"}}
    },
    "MetricsSettings": {
        "Enable": {{var "METRICS_ENABLE" | default "false"}},
        "BlockProfileRate": {{var "METRICS_BLOCK_PROFILE_RATE" | default "0"}},
        "ListenAddress": "{{var "METRICS_LISTEN_ADDRESS" | default ":8067"}}"
    },
    "AnalyticsSettings": {
        "MaxUsersForStatistics": {{var "ANALYTICS_MAX_USERS_FOR_STATISTICS" | default "2500"}}
    },
    "WebrtcSettings": {
        "Enable": {{var "WEBRTC_ENABLE" | default "false"}},
        "GatewayWebsocketUrl": "{{var "WEBRTC_GATEWAY_WEBSOCKET_URL" | default ""}}",
        "GatewayAdminUrl": "{{var "WEBRTC_GATEWAY_ADMIN_URL" | default ""}}",
        "GatewayAdminSecret": "{{var "WEBRTC_GATEWAY_ADMIN_SECRET" | default ""}}",
        "StunURI": "{{var "WEBRTC_STUN_URI" | default ""}}",
        "TurnURI": "{{var "WEBRTC_TURN_URI" | default ""}}",
        "TurnUsername": "{{var "WEBRTC_TURN_USERNAME" | default ""}}",
        "TurnSharedKey": "{{var "WEBRTC_TURN_SHARED_KEY" | default ""}}"
    },
    "ElasticsearchSettings": {
        "ConnectionUrl": "{{var "ELASTICSEARCH_CONNECTION_URL" | default "http://dockerhost:9200"}}",
        "Username": "{{var "ELASTICSEARCH_USERNAME" | default "elastic"}}",
        "Password": "{{var "ELASTICSEARCH_PASSWORD" | default "changeme"}}",
        "EnableIndexing": {{var "ELASTICSEARCH_ENABLE_INDEXING" | default "false"}},
        "EnableSearching": {{var "ELASTICSEARCH_ENABLE_SEARCHING" | default "false"}},
        "Sniff": {{var "ELASTICSEARCH_SNIFF" | default "true"}},
        "PostIndexReplicas": {{var "ELASTICSEARCH_POST_INDEX_REPLICAS" | default "1"}},
        "PostIndexShards": {{var "ELASTICSEARCH_POST_INDEX_SHARDS" | default "1"}},
        "AggregatePostsAfterDays": {{var "ELASTICSEARCH_AGGREGATE_POSTS_AFTER_DAYS" | default "365"}},
        "PostsAggregatorJobStartTime": "{{var "ELASTICSEARCH_POSTS_AGGREGATOR_JOB_START_TIME" | default "03:00"}}",
        "IndexPrefix": "{{var "ELASTICSEARCH_INDEX_PREFIX" | default ""}}",
        "LiveIndexingBatchSize": {{var "ELASTICSEARCH_LIVE_INDEXING_BATCH_SIZE" | default "1"}},
        "BulkIndexingTimeWindowSeconds": {{var "ELASTICSEARCH_BULK_INDEXING_TIME_WINDOW_SECONDS" | default "3600"}},
        "RequestTimeoutSeconds": {{var "ELASTICSEARCH_REQUEST_TIMEOUT_SECONDS" | default "30"}}
    },
    "DataRetentionSettings": {
        "EnableMessageDeletion": {{var "DATARETENTION_ENABLE_MESSAGE_DELETION" | default "false"}},
        "EnableFileDeletion": {{var "DATARETENTION_ENABLE_FILE_DELETION" | default "false"}},
        "MessageRetentionDays": {{var "DATARETENTION_MESSAGE_RETENTION_DAYS" | default "365"}},
        "FileRetentionDays": {{var "DATARETENTION_FILE_RETENTION_DAYS" | default "365"}},
        "DeletionJobStartTime": "{{var "DATARETENTION_DELETION_JOB_START_TIME" | default "02:00"}}"
    },
    "MessageExportSettings": {
        "EnableExport": {{var "MESSAGEEXPORT_ENABLE_EXPORT" | default "false"}},
        "DailyRunTime": "{{var "MESSAGEEXPORT_DAILY_RUN_TIME" | default "01:00"}}",
        "ExportFromTimestamp": {{var "MESSAGEEXPORT_EXPORT_FROM_TIMESTAMP" | default "0"}},
        "FileLocation": "{{var "MESSAGEEXPORT_FILE_LOCATION" | default "export"}}",
        "BatchSize": {{var "MESSAGEEXPORT_BATCH_SIZE" | default "10000"}}
    },
    "JobSettings": {
        "RunJobs": {{var "JOB_RUN_JOBS" | default "true"}},
        "RunScheduler": {{var "JOB_RUN_SCHEDULER" | default "true"}}
    },
    "PluginSettings": {
        "Enable": {{var "PLUGIN_ENABLE" | default "true"}},
        "EnableUploads": {{var "PLUGIN_ENABLE_UPLOADS" | default "false"}},
        "Directory": "{{var "PLUGIN_DIRECTORY" | default "./plugins"}}",
        "ClientDirectory": "{{var "PLUGIN_CLIENT_DIRECTORY" | default "./client/plugins"}}",
        "Plugins": {},
        "PluginStates": {}
    }
}
