{
  "ServiceSettings": {
    "ListenAddress":              "{{if exists "/service/listenaddress"}}{{getv "/service/listenaddress"}}{{else}}:8080{{end}}",
    "MaximumLoginAttempts":       {{if exists "/service/maximumloginattempts"}}{{getv "/service/maximumloginattempts"}}{{else}}10{{end}},
    "SegmentDeveloperKey":        "{{if exists "/service/segmentdeveloperkey"}}{{getv "/service/segmentdeveloperkey"}}{{end}}",
    "GoogleDeveloperKey":         "{{if exists "/service/googledeveloperkey"}}{{getv "/service/googledeveloperkey"}}{{end}}",
    "EnableOAuthServiceProvider": {{if exists "/service/enableoauthserviceprovider"}}{{getv "/service/enableoauthserviceprovider"}}{{else}}false{{end}},
    "EnableIncomingWebhooks":     {{if exists "/service/enableincomingwebhooks"}}{{getv "/service/enableincomingwebhooks"}}{{else}}true{{end}},
    "EnableOutgoingWebhooks":     {{if exists "/service/enableoutgoingwebhooks"}}{{getv "/service/enableoutgoingwebhooks"}}{{else}}true{{end}},
    "EnablePostUsernameOverride": {{if exists "/service/enablepostusernameoverride"}}{{getv "/service/enablepostusernameoverride"}}{{else}}true{{end}},
    "EnablePostIconOverride":     {{if exists "/service/enableposticonoverride"}}{{getv "/service/enableposticonoverride"}}{{else}}true{{end}},
    "EnableTesting":              {{if exists "/service/enabletesting"}}{{getv "/service/enabletesting"}}{{else}}false{{end}},
    "EnableDeveloper":            {{if exists "/service/enabledeveloper"}}{{getv "/service/enabledeveloper"}}{{else}}false{{end}},
    "EnableSecurityFixAlert":     {{if exists "/service/enablesecurityfixalert"}}{{getv "/service/enablesecurityfixalert"}}{{else}}true{{end}}
  },

  "TeamSettings": {
    "SiteName":                  "{{if exists "/team/sitename"}}{{getv "/team/sitename"}}{{else}}Mattermost{{end}}",
    "MaxUsersPerTeam":           {{if exists "/team/maxusersperteam"}}{{getv "/team/maxusersperteam"}}{{else}}50{{end}},
    "EnableTeamCreation":        {{if exists "/team/enableteamcreation"}}{{getv "/team/enableteamcreation"}}{{else}}true{{end}},
    "EnableUserCreation":        {{if exists "/team/enableusercreation"}}{{getv "/team/enableusercreation"}}{{else}}true{{end}},
    "RestrictCreationToDomains": "{{if exists "/team/restrictcreationtodomains"}}{{getv "/team/restrictcreationtodomains"}}{{end}}",
    "RestrictTeamNames":         {{if exists "/team/restrictteamnames"}}{{getv "/team/restrictteamnames"}}{{else}}true{{end}},
    "EnableTeamListing":         {{if exists "/team/enableteamlisting"}}{{getv "/team/enableteamlisting"}}{{else}}true{{end}}
  },

  "SqlSettings": {
    "DriverName":         "{{if exists "/sql/drivername"}}{{getv "/sql/drivername"}}{{else}}mysql{{end}}",
    "DataSource":         "{{if exists "/sql/datasource"}}{{getv "/sql/datasource"}}{{else}}mmuser:mmtest@tcp(dbhost:3306)/mattermost?charset=utf8mb4,utf8{{end}}",
    "DataSourceReplicas": {{if exists "/sql/datasourcereplicas"}}{{getv "/sql/datasourcereplicas"}}{{else}}[]{{end}},
    "MaxIdleConns":       {{if exists "/sql/maxidleconns"}}{{getv "/sql/maxidleconns"}}{{else}}10{{end}},
    "MaxOpenConns":       {{if exists "/sql/maxopenconns"}}{{getv "/sql/maxopenconns"}}{{else}}10{{end}},
    "Trace":              {{if exists "/sql/trace"}}{{getv "/sql/trace"}}{{else}}false{{end}},
    "AtRestEncryptKey":   "{{if exists "/sql/atrestencryptkey"}}{{getv "/sql/atrestencryptkey"}}{{else}}FIXME{{end}}"
  },

  "LogSettings": {
    "EnableConsole": {{if exists "/log/enableconsole"}}{{getv "/log/enableconsole"}}{{else}}true{{end}},
    "ConsoleLevel":  "{{if exists "/log/consolelevel"}}{{getv "/log/consolelevel"}}{{else}}INFO{{end}}",
    "EnableFile":    {{if exists "/log/enablefile"}}{{getv "/log/enablefile"}}{{else}}true{{end}},
    "FileLevel":     "{{if exists "/log/filelevel"}}{{getv "/log/filelevel"}}{{else}}INFO{{end}}",
    "FileFormat":    "{{if exists "/log/fileformat"}}{{getv "/log/fileformat"}}{{end}}",
    "FileLocation":  "{{if exists "/log/filelocation"}}{{getv "/log/filelocation"}}{{end}}"
  },

  "FileSettings": {
    "DriverName":       "{{if exists "/file/drivername"}}{{getv "/file/drivername"}}{{else}}local{{end}}",
    "Directory":        "{{if exists "/file/directory"}}{{getv "/file/directory"}}{{else}}data{{end}}",
    "EnablePublicLink": {{if exists "/file/enablepubliclink"}}{{getv "/file/enablepubliclink"}}{{else}}true{{end}},
    "PublicLinkSalt":   "{{if exists "/file/publiclinksalt"}}{{getv "/file/publiclinksalt"}}{{else}}FIXME{{end}}",
    "ThumbnailWidth":   {{if exists "/file/thumbnailwidth"}}{{getv "/file/thumbnailwidth"}}{{else}}120{{end}},
    "ThumbnailHeight":  {{if exists "/file/thumbnailheight"}}{{getv "/file/thumbnailheight"}}{{else}}100{{end}},
    "PreviewWidth":     {{if exists "/file/previewwidth"}}{{getv "/file/previewwidth"}}{{else}}1024{{end}},
    "PreviewHeight":    {{if exists "/file/previewheight"}}{{getv "/file/previewheight"}}{{else}}0{{end}},
    "ProfileWidth":     {{if exists "/file/profilewidth"}}{{getv "/file/profilewidth"}}{{else}}128{{end}},
    "ProfileHeight":    {{if exists "/file/profileheight"}}{{getv "/file/profileheight"}}{{else}}128{{end}},
    "InitialFont":      "{{if exists "/file/initialfont"}}{{getv "/file/initialfont"}}{{else}}luximbi.ttf{{end}}",
    "AmazonS3AccessKeyId":        "{{if exists "/file/amazons3accesskeyid"}}{{getv "/file/amazons3accesskeyid"}}{{end}}",
    "AmazonS3SecretAccessKey":    "{{if exists "/file/amazons3secretaccesskey"}}{{getv "/file/amazons3secretaccesskey"}}{{end}}",
    "AmazonS3Bucket":             "{{if exists "/file/amazons3bucket"}}{{getv "/file/amazons3bucket"}}{{end}}",
    "AmazonS3Region":             "{{if exists "/file/amazons3region"}}{{getv "/file/amazons3region"}}{{end}}"
    "AmazonS3Endpoint":           "{{if exists "/file/amazons3endpoint"}}{{getv "/file/amazons3endpoint"}}{{end}}",
    "AmazonS3BucketEndpoint":     "{{if exists "/file/amazons3bucketendpoint"}}{{getv "/file/amazons3bucketendpoint"}}{{end}}",
    "AmazonS3LocationConstraint": {{if exists "/file/amazons3locationconstraint"}}{{getv "/file/amazons3locationconstraint"}}{{else}}false{{end}},
    "AmazonS3LowercaseBucket":    {{if exists "/file/amazons3lowercasebucket"}}{{getv "/file/amazons3lowercasebucket"}}{{else}}false{{end}}
  },

  "EmailSettings": {
    "EnableSignUpWithEmail":    {{if exists "/email/enablesignupwithemail"}}{{getv "/email/enablesignupwithemail"}}{{else}}true{{end}},
    "SendEmailNotifications":   {{if exists "/email/sendemailnotifications"}}{{getv "/email/sendemailnotifications"}}{{else}}false{{end}},
    "RequireEmailVerification": {{if exists "/email/requireemailverification"}}{{getv "/email/requireemailverification"}}{{else}}false{{end}},
    "FeedbackName":             "{{if exists "/email/feedbackname"}}{{getv "/email/feedbackname"}}{{end}}",
    "FeedbackEmail":            "{{if exists "/email/feedbackemail"}}{{getv "/email/feedbackemail"}}{{end}}",
    "SMTPUsername":             "{{if exists "/email/smtpusername"}}{{getv "/email/smtpusername"}}{{end}}",
    "SMTPPassword":             "{{if exists "/email/smtppassword"}}{{getv "/email/smtppassword"}}{{end}}",
    "SMTPServer":               "{{if exists "/email/smtpserver"}}{{getv "/email/smtpserver"}}{{end}}",
    "SMTPPort":                 "{{if exists "/email/smtpport"}}{{getv "/email/smtpport"}}{{end}}",
    "ConnectionSecurity":       "{{if exists "/email/connectionsecurity"}}{{getv "/email/connectionsecurity"}}{{end}}",
    "InviteSalt":               "{{if exists "/email/invitesalt"}}{{getv "/email/invitesalt"}}{{else}}FIXME{{end}}",
    "PasswordResetSalt":        "{{if exists "/email/passwordresetsalt"}}{{getv "/email/passwordresetsalt"}}{{else}}FIXME{{end}}",
    "SendPushNotifications":    {{if exists "/email/sendpushnotifications"}}{{getv "/email/sendpushnotifications"}}{{else}}false{{end}},
    "PushNotificationServer":   "{{if exists "/email/pushnotificationserver"}}{{getv "/email/pushnotificationserver"}}{{end}}"
  },

  "RateLimitSettings": {
    "EnableRateLimiter": {{if exists "/rate/enableratelimiter"}}{{getv "/rate/enableratelimiter"}}{{else}}true{{end}},
    "PerSec":            {{if exists "/rate/persec"}}{{getv "/rate/persec"}}{{else}}10{{end}},
    "MemoryStoreSize":   {{if exists "/rate/memorystoresize"}}{{getv "/rate/memorystoresize"}}{{else}}10000{{end}},
    "VaryByRemoteAddr":  {{if exists "/rate/varybyremoteaddr"}}{{getv "/rate/varybyremoteaddr"}}{{else}}true{{end}},
    "VaryByHeader":      "{{if exists "/rate/varybyheader"}}{{getv "/rate/varybyheader"}}{{end}}"
  },

  "PrivacySettings": {
    "ShowEmailAddress": {{if exists "/privacy/showemailaddress"}}{{getv "/privacy/showemailaddress"}}{{else}}false{{end}},
    "ShowFullName":     {{if exists "/privacy/showfullname"}}{{getv "/privacy/showfullname"}}{{else}}false{{end}}
  },

  "GitLabSettings": {
    "Enable":          {{if exists "/gitlab/enable"}}{{getv "/gitlab/enable"}}{{else}}false{{end}},
    "Secret":          "{{if exists "/gitlab/secret"}}{{getv "/gitlab/secret"}}{{end}}",
    "Id":              "{{if exists "/gitlab/id"}}{{getv "/gitlab/id"}}{{end}}",
    "Scope":           "{{if exists "/gitlab/scope"}}{{getv "/gitlab/scope"}}{{end}}",
    "AuthEndpoint":    "{{if exists "/gitlab/authendpoint"}}{{getv "/gitlab/authendpoint"}}{{end}}",
    "TokenEndpoint":   "{{if exists "/gitlab/tokenendpoint"}}{{getv "/gitlab/tokenendpoint"}}{{end}}",
    "UserApiEndpoint": "{{if exists "/gitlab/userapiendpoint"}}{{getv "/gitlab/userapiendpoint"}}{{end}}"
  }
}
